{% extends "base.html" %}

{% block content %}

<h1 align="center">{{title}}</h1>

{% if blog == None %}
<p>No blogs yet</p>

{% else %}

{% for blog in blogs%}
<ul> 
    <h3><a href="/blog?id={{blog.id}}" value="{{blog.title}}">{{blog.title}}</a></h3>
    
    <h4 value="{{blog.body}}">{{blog.body}}</h4>

    <h5><i>Posted by:<a href="/blog?user={{blog.username}}">{{ blog.username }}</a></i></h5>
    
    <input type="hidden" name="id" value="{{blog.id}}"/>

    <hr />


    



</ul>

{% endfor %}

{% endif %}


{% endblock %}


    

    

